@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-teal-600 via-blue-600 to-pink-600;
  }
  .faded-text {
    @apply font-bold text-sm text-gray-400;
  }
  .divider {
    @apply w-full h-0.5 my-6 bg-gray-800;
  }
}


/* custom css */

.search-wrap{
  border: 15px solid transparent;
  border-image: linear-gradient(to right, #ec2F4B, #009FFF) 1;
  border-radius: 8px;
}
